{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<input id="lista-cantantes" type="hidden" value="{{resultado}}">
<div class="row">
    <div class="col-12 text-center">
        <h3>Singer's name</h3>
        <form action="{% url 'buscar_cantantes' %}" method="post" class="row mt-3">
            {% csrf_token %}
            <div class="col-8 offset-2 col-lg-4 offset-lg-4">
            {{form.cantante}}
            </div>
            <div class="col-4 offset-4">
                <input class="btn btn-primary my-4" type="submit" value="Search">
            </div>
        </form>
    </div>
    <div class="col-8 offset-2 col-lg-4 offset-lg-4 text-center">
        <ul id="cantantes" class="list-group mb-4">
        </ul>
    </div>

</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'js/buscar_cantantes.js' %}"></script>
{% endblock %}